body {
  background-color: #3f51b5;
  width: 100%;
  overflow-x: hidden;
}

html {
  padding: 0;
  margin: 0;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 2%;
}

.App {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Navbar */
.Toolbar {
  display: flex;
  box-shadow: 1px 1px 10px #000000;
}

.Burger-button {
  padding-left: 50%;
}

.burger-link {
  color: black;
  text-decoration: none;
}

.home-logo {
  color: white;
  text-decoration: none;
}

/* Showcase */
.App-showcase {
  position: static;
  background-color: #282c34;
  background-image: url("https://uploads.visitseattle.org/2016/05/16100628/Utrip_6View-from-Kerry-Park.jpg");
  background-size: cover;
  min-height: 90vh;
  max-height: 98vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  margin-top: 2.6%;
  padding: 0;
  box-shadow: 1px 10px 8px #000000;
}

.showcase-overlay {
  max-height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.5);
  padding: 5%;
}

.App-showcase p {
  padding: 25% 5% 1% 5%;
}

.contact-button {
  padding: 8px;
  color: white;
  background-color: #3f51b5;
  border: 2px solid orange;
  font-size: 28px;
  margin-bottom: 2%;
}

#chevron {
  color: white;
  text-decoration: none;
}

/* Skills */
.Skills {
  background-color: #3f51b5;
  color: white;
  min-height: 10vh;
  padding: 2%;
  margin-right: 8px;
  box-shadow: 5px 10px 8px #141414;
  border: 1px solid #2a3575;
}

#skills-container {
  margin: 2% 5% 2% 6%;
  padding-bottom: 10px;
  /* background-color: #3f51b5; */
}

.skills-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skill-div {
  height: 30%;
  width: 33%;
  margin: 0 1% 0 1%;
  box-shadow: 5px 10px 8px #000000;
}

.skill {
  max-width: 800px;
  min-width: 400px;
}

.skills-card-content {
  display: flex;
  justify-content: center;
}

.skills-card-content-row {
  margin: 2% 5% 0 5%;
}

/* Jobs */
.Jobs {
  background-color: #282c34;
  color: white;
  min-height: 10vh;
  padding: 2%;
  margin-right: 8px;
  box-shadow: 5px 10px 8px #141414;
  border: 1px solid #141414;
}

#jobs-container {
  margin: 0 5% 2% 6%;
  padding-bottom: 10px;
  /* background-color: #3f51b5; */
}

.jobs-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.job-div {
  height: 30%;
  width: 25%;
  margin: 0 1% 0 1%;
  padding: 0;
  box-shadow: 5px 10px 8px #141414;
}

.job {
  max-width: 830px;
  min-width: 300px;
}

/* Projects */
.Projects {
  background-color: #3f51b5;
  color: white;
  min-height: 10vh;
  padding-bottom: 2%;
  margin-right: 8px;
  box-shadow: 5px 10px 8px #141414;
  border: 1px solid #2a3575;
}

#projects-container {

  margin: 0 5% 2% 6%;
  padding-bottom: 10px;
  /* background-color: #3f51b5; */
}

.project-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-div {
  height: 30%;
  width: 28%;
  margin: 0 1% 0 1%;
  padding: 0;
  box-shadow: 5px 10px 8px #000000;
}

.project {
  max-width: 600px;
  min-width: 380px;
  box-shadow: 5px 10px 8px #000000;
  border: 1px solid;
}

.project-img {
  width: 400px;
  height: 250px;
  border: 5px solid #282c34;
  border-radius: 1%;
  margin: 5% 0 0 0;
}

.source-code {
  margin-bottom: 5%;
}

.project-content {
  display: flex;
  justify-content: center;
}

.project-content-skills {
  flex-grow: 1;
  margin-left: 10%;
}
.project-content-about {
  flex-grow: 3;
  margin: 0 10% 0 4%;
}

/* Calculator */
.Calculator {
  border: 5px solid gray;
  background-color: lightgray;
  width: 300px;
  height: 465px;
  position: absolute;
  margin-top: 5%;
  margin-left: 10%;
  box-shadow: 5px 10px 8px #141414;
  border-radius: 1%;
}

.calculator-x-button-div {
  text-align: end;
  height: 30px;
  width: 100%;
  border-bottom: 5px solid gray;
  margin: 0;
  padding: 0;
}

.calculator-title {
  float: left;
  padding: 1%;
}

.calculator-x-button {
  border: 3px solid gray;
  max-height: 30px;
  max-width: 77px;
  padding: 0.75% 4% 2.75% 4%;
  margin: 0;
  background-color: lightgray;
  border-radius: 3.75%;
}

.calculator-case {
  height: 82%;
}

.calculator-case button {
  width: 70px;
  height: 70px;
}

.calculator-screen {
  border: 2px solid gray;
  height: 25px;
  width: 98%;
  margin: 1% 0 1% 0;
  font-size: 24px;
}

/* Cat Fact */
.cat-fact-div {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: 5%;
  margin-left: 10%;
  max-width: 500px;
  box-shadow: 5px 10px 8px #141414;
}

.cat-facts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cat-fact {
  list-style-type: none;
  width: 100%;
  background-color: lightgray;
  border: 5px solid gray;
  padding: 0;
  margin: 0;
  border-radius: 1%;
}

.cat-fact-x-button-div {
  text-align: end;
  height: 30px;
  width: 100%;
  border-bottom: 5px solid gray;
  margin: 0;
  padding: 0;
}

.cat-fact-title {
  float: left;
  padding: 1%;
}

.cat-fact-x-button {
  border: 3px solid gray;
  max-height: 30px;
  max-width: 77px;
  padding: 0.75% 4% 1.75% 4%;
  margin: 0;
  background-color: lightgray;
  border-radius: 3.75%;
}

.cat-fact-text {
  color: black;
  padding: 5%;
  font-size: 28px;
}

/* Clock */
.Clock {
  border: 5px solid gray;
  background-color: lightgray;
  width: 500px;
  height: 250px;
  position: absolute;
  margin-top: 5%;
  margin-left: 10%;
  box-shadow: 5px 10px 8px #141414;
  border-radius: 1%;
}

.clock-x-button-div{
  text-align: end;
  border-bottom: 5px solid gray;
}

.clock-title {
  float: left;
  padding: 1%;
}

.clock-x-button {
  border: 3px solid gray;
  height: 30px;
  padding: 0.75% 4% 1.75% 4%;
  margin: 0;
  background-color: lightgray;
  border-radius: 3.75%;
}

.clock-text {
  color: red;
  margin: 5%;
  padding-top: 4%;
  border: 5px solid black;
  background-color: black;
  font-size: 100px;
  height: 57%;
  font-family: monospace;
}

/* Motivational Quote */
.MotivationalQuote {
  border: 5px solid gray;
  background-color: lightgray;
  min-width: 500px;
  min-height: 250px;
  position: absolute;
  margin-top: 5%;
  margin-left: 10%;
  box-shadow: 5px 10px 8px #141414;
  border-radius: 1%;
}

.motivational-quote {
  list-style-type: none;
}

.motivational-quote-x-button-div {
  text-align: end;
  border-bottom: 5px solid gray;
}

.motivational-quote-title {
  float: left;
  padding: 1%;
}

.motivational-quote-x-button {
  border: 3px solid gray;
  max-height: 30px;
  max-width: 77px;
  padding: 0.75% 4% 1.75% 4%;
  margin: 0;
  background-color: lightgray;
  border-radius: 3.75%;
}

.motivational-quote-text {
  color: black;
  padding: 5%;
  font-size: 28px;
}

.quote-author {
  padding: 5%;
}

/* Contact */
.ContactPage {
  width: 100%;
  margin-bottom: 13.5%;
}

.me-irl-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  margin-top: 2.5%;
  padding: -10% 2% 0 2%;
  width: 100%;
}

.me-irl {
  margin-right: 10%;
}

.me-irl img {
  border: 5px solid #282c34;
  border-radius: 2%;
  width: 280px;
}

.contact-card-content-row p {
  padding: 0;
  margin-left: 10%;
  padding-bottom: 5%;
  font-size: 24px;
}

.contact-card-content-row a {
  color: white;
  text-decoration: none;
}

.home-button {
  padding: 8px;
  color: white;
  background-color: #3f51b5;
  border: 2px solid orange;
  font-size: 28px;
  margin-top: 9.8%;
}

/* Footer */
.Footer {
  position: absolute;
  background-color: #3f51b5;
  width: 100%;
  padding-top: 10px;
  border-top: 2px solid #2a3575;
  border-radius: 2%;
  text-align: center;
}

.icon {
  color: white;
  text-decoration: none;
  margin: 0 1% 0 1%;
}

/* Mobile Friendly */
@media only screen and (max-width: 1030px) {
  p {
    font-size: 36px !important;
  }

  h2 {
    font-size: 52px !important;
  }

  h3 {
    font-size: 48px !important;
  }

  h4 {
    font-size: 44px !important;
  }

  h5 {
    font-size: 40px !important;
  }

  .App-showcase .showcase-text {
    padding: 45vh 5% 5% 5%;
  }

  #skills-container {
    width: 100vw;
    margin: 0;
  }

  .skills-cards {
    flex-direction: column;
    box-shadow: none;
  }

  .skill {
    max-width: 100px;
    min-width: 100%;
    margin-top: 5%;
    box-shadow: none;
  }

  .skill-div {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .skills-card-content {
    flex-direction: column;
  }

  /* Jobs */
  #jobs-container {
    width: 100vw;
    margin: 0;
  }

  .jobs-cards {
    flex-direction: column;
    box-shadow: none;
  }

  .job-div {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .job {
    max-width: 100px;
    min-width: 100%;
    margin-top: 5%;
    box-shadow: none;
  }

  /* Projects */
  #projects-container {
    width: 100vw;
    margin: 0;
    text-align: center;
  }

  .project-cards {
    flex-direction: column;
  }

  .project-div {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .project {
    max-width: 100px;
    min-width: 100%;
    margin-top: 5%;
    box-shadow: none;
  }

  .project-img {
    max-width: 95%;
  }

  .project-content-skills .project-content-about {
    margin: 0;
    flex-grow: none;
  }

  .ContactPage {
    width: 100%;
  }

  .contact {
    width: 100vw;
    margin: 0;
  }

  .contact p {
    margin: 0;
    padding-top: 2%;
    font-size: 12px;
  }

  .contact-card-content-row p {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  
  .me-irl-info {
    display: block;
  }

  .me-irl {
    margin: 0;
  }

  .me-irl img {
    border: 5px solid #282c34;
    border-radius: 2%;
    width: 180px;
    margin: 5% 0 5% 0;
    padding: 0;
  }

  .home-button {
    margin-top: 15%;
  }

}
@media only screen and (max-width: 770px) {
  body {
    background-color: #3f51b5;
    width: 98vw;
  }
  
  html {
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
    width: 80vw;
    margin: 0;
    padding: 0;
  }

  .Toolbar {
    display: inline;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .App-showcase {
    margin: 0;
    padding: 0;
  }

  .showcase-overlay {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 30%;
  }

  .App-showcase .showcase-text {
    padding: 25vh 5% 5% 5%;
  }

  /* Skills */
  #skills-container {
    width: 100vw;
    margin: 0;
  }

  .skills-cards {
    flex-direction: column;
    box-shadow: none;
  }

  .skill {
    max-width: 100px;
    min-width: 100%;
    margin-top: 5%;
    box-shadow: none;
  }

  .skill-div {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .skills-card-content {
    flex-direction: column;
  }

  /* Jobs */
  #jobs-container {
    width: 100vw;
    margin: 0;
  }

  .jobs-cards {
    flex-direction: column;
    box-shadow: none;
  }

  .job-div {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .job {
    max-width: 100px;
    min-width: 100%;
    margin-top: 5%;
    box-shadow: none;
  }

  /* Projects */
  #projects-container {
    width: 100vw;
    margin: 0;
    text-align: center;
  }

  .project-cards {
    flex-direction: column;
  }

  .project-div {
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .project {
    max-width: 100px;
    min-width: 100%;
    margin-top: 5%;
    box-shadow: none;
  }

  .project-img {
    max-width: 95%;
  }

  .project-content-skills .project-content-about {
    margin: 0;
    flex-grow: none;
  }

  .Calculator {
    margin-top: 15%;
  }

  /* Contact */
  .ContactPage {
    width: 100%;
  }

  .contact {
    width: 100vw;
    margin: 0;
  }

  .contact p {
    margin: 0;
    padding-top: 2%;
    font-size: 12px;
  }

  .contact-card-content-row p {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  
  .me-irl-info {
    display: block;
  }

  .me-irl {
    margin: 0;
  }

  .me-irl img {
    border: 5px solid #282c34;
    border-radius: 2%;
    width: 180px;
    margin: 1% 0 1% 0;
    padding: 0;
  }

  .home-button {
    margin-top: 9%;
  }

  /* Footer */
  .Footer {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  /* .icon {
    color: white;
    text-decoration: none;
    padding: 0 10px 0 10px;
  } */
}

@media only screen and (max-width: 360px) {
  .showcase-overlay {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 30%;
  }

  .App-showcase .showcase-text {
    padding: 5% 5% 5% 5%;
  }

  .contact-card-content-row p {
    padding: 0;
    font-size: 12px;
  }

  .home-button {
    padding: 4px;
    color: white;
    background-color: #3f51b5;
    border: 2px solid orange;
    font-size: 20px;
    margin-top: 3%;
  }

}